*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  gap: 30px;
  align-items: end;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}

.search-form__label {
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
}

.search-form__textfield {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  padding: 0;
  color: currentColor;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  inline-size: 225px;
  block-size: 27px;
  display: flex;
  align-items: center;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: text;
}


.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__textfield:focus{
  outline: none;
}

.search-form__textfield:focus-visible{
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: block;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
  margin: 1px 0 0 1px;
}

.button {
  inline-size: 194px;
  block-size: 34px;
  border: 1px solid #fff;
  background-color: transparent;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline 1px #fff;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: end;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap:26px
}

.title {
  min-inline-size: 399px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color:#545050;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
  color: #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px #FFF;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  border: 2px solid transparent;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-description-container {
  padding: 2px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: start;
  gap: 6px;
}

.content__video-card-title {
  font-family: 'Oswald' sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  inline-size: 100%;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
